@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

html {
  font-size: 62.5%;
}

body {
  background-image: url("../images/bg-pattern-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mobile-img {
  display: block;
  height: 100%;
}

.desktop-img {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  margin-top: 3.2rem;
  margin-bottom: 4.5rem;
  padding: 0 3.3rem;
}
.content-div {
  margin-top: 6.2rem;
  margin-bottom: 9.4rem;
  padding: 0 3.3rem;
}

.content-div .content-logo {
  display: none;
}

.content-div h1 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.2rem;
  text-align: center;
  letter-spacing: 1.08254rem;
  color: #423a3a;
  text-transform: uppercase;
}

.content-div h1 span {
  font-weight: 300;
  color: #ce9898;
}

.content-div .content-text {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  color: #ce9898;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}

/* form {
  position: relative;
} */

.input-div {
  position: relative;
}

form input {
  width: 100%;
  mix-blend-mode: normal;
  opacity: 0.5;
  border: 0.1rem solid #ce9898;
  border-radius: 2.8rem;
  background: none;
  padding: 1.1rem 0 1.1rem 2.4rem;
}

form input:focus-visible {
  outline: none;
}

form input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #ce9898;
}

form button {
  border: none;
}

.error-img-act {
  position: absolute;
  right: 8rem;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.error-img-dsbl {
  display: none;
}

form .arrow-img {
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
  box-shadow: 0rem 1.5rem 2rem rgba(198, 110, 110, 0.247569);
  border-radius: 2.8rem;
  position: absolute;
  right: 0;
  padding: 0.8rem 2.8rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

form .arrow-img:hover {
  background: linear-gradient(135deg, #f8bfbf 90%, #ee8b8b 100%);
  transition: all 0.3s ease;
  scale: 1.1;
}

.error-msg-act {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.8rem;
  color: #f96464;
  padding-left: 2rem;
  margin-top: 0.5rem;
  display: block;
}

.error-msg-dsbl {
  display: none;
}

@media (min-width: 90em) {
  main {
    flex-direction: unset;
  }

  header {
    display: none;
  }

  .mobile-img {
    display: none;
  }

  .desktop-img {
    display: block;
    order: 1;
    width: 100vh;
  }

  .content-div {
    display: flex;
    flex-direction: column;
    gap: 13.6rem;
    padding: 7.5rem 35rem 15.2rem 16.5rem;
    margin: 0;
  }

  .content-div .content-logo {
    display: block;
    width: 30%;
  }

  .content-div h1,
  .content-div h1 span {
    font-size: 6.4rem;
    line-height: 7.1rem;
    letter-spacing: 1.73206rem;
    text-align: unset;
  }

  .content-div .content-text {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-top: 3.2rem;
    margin-bottom: 4rem;
    text-align: start;
  }

  input::placeholder {
    font-size: 1.6rem;
  }
}
